#outer-box{
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: aquamarine;
}

#container{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 392px;
}

#display{
  color: white;
  position: relative;
  padding: 20px 10px;
  text-align: right;
  height: 43px;
  font-size: 30px;
  width: 100%;
}

#display small{
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #FE9505;
}

button{
    width: 50px;
    font-size: 22px;
    border: none;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
}

button:hover{
  transform: scale(0.9);
  opacity: 0.7;
}

button.big-h{
  width:110px;
  border-radius: 50px;
}

button.orange{
    background-color: #FE9505;
    color: white;
}

button.grey{
  background-color: #A5A5A5;
}

button.darkGrey{
  background-color: #333333;
  color: white;
}

.numsContainer{
     width: 75%;
}

.opsContainer{
  position: relative;
  width: 25%;
  bottom: 60px;
}

button.ac{
  margin-right: 50%;
}